table {
  font-family: Arial;
  padding: auto;
  margin: auto;
  border: 1px solid #dddddd;
  border-collapse: collapse;
  cursor: default;
}

thead {
  color: #999999;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
}

tr.Linha {
  border-top: 2px solid #dddddd;
}

tbody th,
tbody td {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  width: 35px;
  height: 25px;
}

td.tacalibertadores {
  color: #003366;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

td.prelibertadores {
  color: #1398be;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

td.sulamericana {
  color: #de9800;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

td.normal {
  color: #cccccc;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

td.rebaixados {
  color: #c91b04;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

td.C1 {
  color: #666666;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  width: 170px;
}

td.C2 {
  color: black;
  background-color: #f7f7f7;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

td.C3 {
  color: #666666;
  font-size: 14px;
  text-align: center;
}

td.C4 {
  color: #666666;
  background-color: #f7f7f7;
  font-size: 14px;
  text-align: center;
}

td.C5 {
  color: #666666;
  font-size: 14px;
  text-align: center;
}

td.C6 {
  color: #666666;
  background-color: #f7f7f7;
  font-size: 14px;
  text-align: center;
}

td.C7 {
  color: #666666;
  font-size: 14px;
  text-align: center;
}

td.C8 {
  color: #666666;
  background-color: #f7f7f7;
  font-size: 14px;
  text-align: center;
}

td.C9 {
  color: #666666;
  font-size: 14px;
  text-align: center;
}

td.C10 {
  color: #666666;
  background-color: #f7f7f7;
  font-size: 14px;
  text-align: center;
}

tfoot {
  font-family: Arial;
  font-size: 10px;
  color: #555555;
  text-align: left;
  word-spacing: 1px;
}
