table{
    font-family: Arial;
    padding: auto;
    margin: auto;
}

thead{
    color: #999999;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}

tbody{
    text-align: center;
}

table,th,td{
    border: 1px solid #DDDDDD;
    border-collapse: collapse;
}

th.tacalibertadores{
    color: #003366;
    text-align: center;
    font-size: 18px;
}

th.prelibertadores{
    color: #1398BE;
    text-align: center;
    font-size: 18px;
}

th.sulamericana{
    color: #DE9800;
    text-align: center;
    font-size: 18px;
}

th.normal{
    color: #CCCCCC;
    text-align: center;
    font-size: 18px;
}

th.rebaixados{
    color: #C91B04;
    text-align: center;
    font-size: 18px;
    width: 0px;
}

th.C1{
    color: #666666;
    font-size: 14px;
    text-indent: 0px;
    text-align: left;
    width: 170px;
}

td.C2{
    color: black;
    background-color:#F7F7F7;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    width: 45px;
}
td.C3{
    color: #666666;
    font-size: 14px;
    text-align: center;    
    width: 45px;
}
td.C4{
    color: #666666;
    background-color: #F7F7F7;
    font-size: 14px;
    text-align: center;
    width: 45px;
}
td.C5{
    color: #666666;
    font-size: 14px;
    text-align: center;
    width: 45px;
}
td.C6{
    color: #666666;
    background-color: #F7F7F7;
    font-size: 14px;
    text-align: center;
    width: 45px;
}
td.C7{
    color: #666666;
    font-size: 14px;
    text-align: center;
    width: 45px;
}
td.C8{
    color: #666666;
    background-color: #F7F7F7;
    font-size: 14px;
    text-align: center;
    width: 45px;
}
td.C9{
    color: #666666;
    font-size: 14px;
    text-align: center;
    width: 45px;
}
td.C10{
    color: #666666;
    background-color: #F7F7F7;
    font-size: 14px;
    text-align: center;
    width: 45px;
}

tfoot{
    font-family: Arial;
    font-size: 10px;
    text-align: left;
}
td.Significados{
    color: #555555;
    font-size: 10px;
}
td.Simbolos{
    color: #555555;
    font-size: 10px;
    font-weight: bold;
}

tr.Legenda{
    color: #8F8F8F;
    font-size: 10px;
}
